lobello-n8n-workflow.json
{
    "name": "Lobello Lead Router",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "lobello-lead",
                "responseMode": "onReceived",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "webhook-node",
            "webhookId": "lobello-lead-hook"
        },
        {
            "parameters": {
                "authentication": "serviceAccount",
                "documentId": {
                    "__rl": true,
                    "value": "YOUR_MASTER_SHEET_ID",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Sheet1",
                    "mode": "list",
                    "cachedResultName": "Sheet1"
                },
                "filters": {
                    "conditions": [
                        {
                            "key": "Property_Address",
                            "value": "={{ $json.body.property }}",
                            "operator": "equal"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Lookup Agent (Master Sheet)",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.1,
            "position": [
                480,
                300
            ],
            "id": "lookup-agent-node",
            "notes": "Finds the row in Master Sheet where Property matches incoming lead"
        },
        {
            "parameters": {
                "authentication": "serviceAccount",
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "YOUR_AGENTS_SHEET_ID",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "={{ $json.Agent_Tab }}",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Property_Address": "={{ $json.Property_Address }}",
                        "Agent_Name": "={{ $json.Agent_Name }}",
                        "Lead_Sheet_ID": "={{ $json.Lead_Sheet_ID }}",
                        "Client_Name": "={{ $('Webhook').item.json.body.name }}",
                        "Client_Email": "={{ $('Webhook').item.json.body.email }}",
                        "Client_Phone": "={{ $('Webhook').item.json.body.phone }}",
                        "Message": "={{ $('Webhook').item.json.body.message }}",
                        "Timestamp": "={{ $now.toISO() }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "Property_Address",
                            "displayName": "Property_Address",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Agent_Name",
                            "displayName": "Agent_Name",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Lead_Sheet_ID",
                            "displayName": "Lead_Sheet_ID",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Client_Name",
                            "displayName": "Client_Name",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Client_Email",
                            "displayName": "Client_Email",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Client_Phone",
                            "displayName": "Client_Phone",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Message",
                            "displayName": "Message",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Timestamp",
                            "displayName": "Timestamp",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        }
                    ]
                },
                "options": {}
            },
            "name": "Log Lead (Second Sheet)",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.1,
            "position": [
                700,
                300
            ],
            "id": "log-lead-node",
            "notes": "Adds a new row to the Leads Sheet with merged data"
        },
        {
            "parameters": {
                "sendTo": "={{ $node['Lookup Agent (Master Sheet)'].json.Agent_Email }}",
                "subject": "New Lead for {{ $node['Lookup Agent (Master Sheet)'].json.Property_Address }}",
                "emailType": "html",
                "message": "=<h3>New Lead Received</h3>\n<p><strong>Property:</strong> {{ $node['Lookup Agent (Master Sheet)'].json.Property_Address }}</p>\n<ul>\n<li><strong>Client Name:</strong> {{ $('Webhook').item.json.body.name }}</li>\n<li><strong>Client Email:</strong> {{ $('Webhook').item.json.body.email }}</li>\n<li><strong>Client Phone:</strong> {{ $('Webhook').item.json.body.phone }}</li>\n</ul>\n<p><strong>Message:</strong><br>\n{{ $('Webhook').item.json.body.message }}</p>"
            },
            "name": "Notify Agent (Gmail)",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                920,
                300
            ],
            "id": "notify-agent-node"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Lookup Agent (Master Sheet)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lookup Agent (Master Sheet)": {
            "main": [
                [
                    {
                        "node": "Log Lead (Second Sheet)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Lead (Second Sheet)": {
            "main": [
                [
                    {
                        "node": "Notify Agent (Gmail)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}